<!-- post list -->
<div data-pagefind-ignore="all">
{{ range $index, $element := $.Paginator.Pages }}
<div class="post-preview">
    <a href="{{ .Permalink }}">
        <h2 class="post-title">
            {{ .Title }}
        </h2>
	{{with .Params.subtitle }}
        <h3 class="post-subtitle">
            {{ . }}
        </h3>
	{{ end }}
        <div class="post-content-preview">
	{{ with .Description }}
            {{ . }}
        {{ else }}
            {{ .Summary}}
       {{ end }}
        </div>
    </a>
    <p class="post-meta">
    {{ if .Params.metadata }}
        {{ range $index, $element := .Params.metadata }}
            {{ if .link }}
                <a href="{{ .link }}">{{ .text }}</a>
            {{ else }}
                {{ .text }}
            {{ end }}
        {{ end }}
    {{ else }}
        <span class="post-meta-author">{{ with .Params.author }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}</span>
        <span aria-hidden="true">·</span>
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006. 01. 02." }}</time>
        <!-- Don't show the modified date when it matches the publication date. -->
        {{ if (and (not .Lastmod.IsZero) (not (eq (dateFormat "2006-01-02" .Lastmod) (dateFormat "2006-01-02" .Date)))) }}
            <span aria-hidden="true">·</span>
            <span>수정 <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "2006. 01. 02." }}</time></span>
        {{ end }}
    {{ end }}
    </p>

</div>
{{ end }}
</div>
